@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,600&display=swap");

/* Variables */
:root {
  --font-family: "Poppins", "sans-serf";
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 700;
  --bg-color: #fcfcfc;
  --primary-color: white;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: var(--font-family);
  background: url('../images/2413558.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  position: relative;
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 3px;
  transform: scaleX(0);
  transition: transform 0.5s;
}

nav a:hover::after {
  transform: scaleX(1);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

/* Centered content */
.centered-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

/* Adjust scroll position when centered */
body.centered {
  overflow: hidden;
}


.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 15rem;
  max-width: 68.75rem;
  height: 56rem;
  padding: 1rem; /* Add padding to separate the border from the content */
}

.hero img {
  height: 20rem;
  width: 22rem;
  border-radius: 20px;
}

.bio {
  height: 20rem;
  width: 28rem;
  font-size: 14px;
  padding: 1.3rem;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.more-about {
  height: 16rem;
  width: 55rem;
  margin: auto;
  font-size: 14px;
  padding: 1.3rem;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
  font-size: 26px;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
  font-size: 16px;
  text-align: justify;
}

.tools {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 30rem;
}

.tools-header {
  margin-bottom: 1rem;
  color: white;
}

.tools-wrapper img {
  padding: 1.25rem;
}

.skills {
  max-width: 68.75rem;
  margin: auto;
  margin-top: 30rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.skills-header {
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

.skills-template {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.skills-box {
  height: 17.6rem;
  width: 12.5rem;
  font-size: 14px;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: 1.1rem;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow)
}

.skills-box li {
  line-height: var(--line-height);
  padding: 0.3rem 0;
  font-size: 14px;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}

.certificate {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 30rem;
}

.certificate-header {
  margin-bottom: 1rem;
  color: white;
}

.certificate-wrapper img {
  padding: 1.25rem;
}

.projects {
  background-color: transparent;
  padding: 32px 0;
  margin-top: 30rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.contact {
  margin-top: 30rem;
  margin-bottom: 15rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}

@media screen and (max-width: 720px) {
  /*changes reflects on screen with a width of 720px and below*/
    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: fixed;
        background-color: black;
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        margin: 8px;
        color: white;
    }

    .burger-menu {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }

    .hero {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        margin-top: -4rem;
        gap: 10rem;
    }

    .hero img {
        margin-top: 10rem;
        height: 20rem;
        width: 20rem;
    }

    .bio {
        margin-top: -7rem;
        height: 20rem;
        width: 20rem;
    }

    .more-about {
        height: 28rem;
        width: 30rem;
        margin-top: 30rem;
        padding: 1rem 3.5rem;
    }

    .more-about h2 {
        text-align: center;
    }

    .more-about p {
        text-align: justify;
    }

    .icon {
        width: 5.875rem;
        height: 5.25rem;
    }

    .projects-container {
        flex-direction: column;
    }

    .project-container {
        width: 20.875rem;
    }
}


@media screen and (max-width: 420px) {
    .hero img {
        height: 20rem;
        width: 20rem;
    }

    .more-about {
      height: 38.5rem;
      width: 20rem;
      padding-left: 30px;
      padding-right: 32px;
    }

    .skills-template {
      display: flex;
      flex-direction: column;
    }

    .bio {
        width: 18.3rem;
    }

    .project-container {
        width: 17.875rem;
    }

    .contact-form-container {
        max-width: 17.75rem;
    }
} 

